In [100]:
import pandas as pd
import numpy as np

In [101]:
csv_path = "/Users/saifmohammed/Desktop/CSE299/ML/Test/Copy Dataset/Diabetes_Final_Data_V20.csv"
df = pd.read_csv(csv_path)
df

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic
0,42,Female,66,110,73,5.88,1.65,70.2,25.75,0,0,0,0,0,No
1,35,Female,60,125,68,5.71,1.47,42.5,19.58,0,0,0,0,0,No
2,62,Female,57,127,74,6.85,1.52,47.0,20.24,0,0,0,0,0,No
3,73,Male,55,193,112,6.28,1.63,57.4,21.72,0,0,0,0,0,No
4,68,Female,71,150,81,5.71,1.42,36.0,17.79,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432,74,Male,83,164,89,6.47,1.60,64.0,24.99,0,1,0,1,0,No
5433,75,Male,67,141,104,8.31,1.65,62.0,22.75,0,0,0,0,0,Yes
5434,40,Female,67,134,114,7.61,1.50,69.0,30.72,0,1,0,0,1,No
5435,36,Female,62,139,80,4.90,1.52,41.5,17.87,0,0,0,0,0,No
5436,26,Female,80,134,93,5.15,1.47,67.1,30.92,0,0,0,0,0,No

## Data Clean

In [102]:
df.isnull().sum()

age                       0
gender                    0
pulse_rate                0
systolic_bp               0
diastolic_bp              0
glucose                   0
height                    0
weight                    0
bmi                       0
family_diabetes           0
hypertensive              0
family_hypertension       0
cardiovascular_disease    0
stroke                    0
diabetic                  0
dtype: int64

In [103]:
diabetes.nunique()

age                         85
gender                       2
pulse_rate                  92
systolic_bp                136
diastolic_bp                73
glucose                    941
height                      55
weight                     513
bmi                       1385
family_diabetes              2
hypertensive                 2
family_hypertension          2
cardiovascular_disease       2
stroke                       2
diabetic                     2
dtype: int64

In [104]:
diabetes.duplicated().sum()

np.int64(0)

In [105]:
diabetes.drop_duplicates()

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic
0,42,Female,66,110,73,5.88,1.65,70.2,25.75,0,0,0,0,0,No
1,35,Female,60,125,68,5.71,1.47,42.5,19.58,0,0,0,0,0,No
2,62,Female,57,127,74,6.85,1.52,47.0,20.24,0,0,0,0,0,No
3,73,Male,55,193,112,6.28,1.63,57.4,21.72,0,0,0,0,0,No
4,68,Female,71,150,81,5.71,1.42,36.0,17.79,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432,74,Male,83,164,89,6.47,1.60,64.0,24.99,0,1,0,1,0,No
5433,75,Male,67,141,104,8.31,1.65,62.0,22.75,0,0,0,0,0,Yes
5434,40,Female,67,134,114,7.61,1.50,69.0,30.72,0,1,0,0,1,No
5435,36,Female,62,139,80,4.90,1.52,41.5,17.87,0,0,0,0,0,No
5436,26,Female,80,134,93,5.15,1.47,67.1,30.92,0,0,0,0,0,No

In [106]:
from sklearn.impute import SimpleImputer

# Create the imputer to replace missing values with the median
imputer = SimpleImputer(strategy="median")

# Select only the numeric columns for imputation
df_num = df.select_dtypes(include=[np.number])

# Fit the imputer to the numerical data
imputer.fit(df_num)

# Transform the numerical columns by filling missing values with the median
df_num_imputed = imputer.transform(df_num)

# Convert the numpy array back to a DataFrame
df_num_imputed = pd.DataFrame(df_num_imputed, columns=df_num.columns)

# Update the original dataframe with imputed values
df[df_num.columns] = df_num_imputed

In [107]:
# Convert 'gender' column to category type
df['gender'] = df['gender'].astype('category')

# Convert 'diabetic' column to categorical type if needed
df['diabetic'] = df['diabetic'].astype('category')

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5437 entries, 0 to 5436
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     5437 non-null   float64
 1   gender                  5437 non-null   category
 2   pulse_rate              5437 non-null   float64
 3   systolic_bp             5437 non-null   float64
 4   diastolic_bp            5437 non-null   float64
 5   glucose                 5437 non-null   float64
 6   height                  5437 non-null   float64
 7   weight                  5437 non-null   float64
 8   bmi                     5437 non-null   float64
 9   family_diabetes         5437 non-null   float64
 10  hypertensive            5437 non-null   float64
 11  family_hypertension     5437 non-null   float64
 12  cardiovascular_disease  5437 non-null   float64
 13  stroke                  5437 non-null   float64
 14  diabetic                5437 non-null   category
dtypes: category(2), float64(13)
memory usage: 563.2 KB

In [109]:
df.describe()

,age,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke
count,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000
mean,45.533750,76.768990,133.859849,82.064742,7.540682,1.548571,53.626816,22.472301,0.037337,0.109803,0.039544,0.011587,0.003678
std,14.321155,12.290076,22.293015,12.489593,2.923080,0.080955,10.091550,8.778764,0.189603,0.312673,0.194903,0.107029,0.060545
min,8.000000,5.000000,62.000000,45.000000,0.000000,0.360000,3.000000,1.220000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,69.000000,119.000000,73.000000,6.000000,1.520000,46.700000,19.630000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,76.000000,130.000000,81.000000,6.920000,1.550000,53.000000,21.870000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,55.000000,84.000000,147.000000,90.000000,8.120000,1.600000,59.900000,24.490000,0.000000,0.000000,0.000000,0.000000,0.000000
max,112.000000,133.000000,231.000000,119.000000,33.460000,1.960000,100.700000,574.130000,1.000000,1.000000,1.000000,1.000000,1.000000

## Handling Categorical Attributes

In [110]:
df.select_dtypes(include=['category']).columns

Index(['gender', 'diabetic'], dtype='object')

In [111]:
from sklearn.preprocessing import OrdinalEncoder

# Select the categorical columns
df_cat_gender = df[["gender"]]  # Example with 'gender'
df_cat_diabetic = df[["diabetic"]]  # Example with 'diabetic'

# Create an Ordinal Encoder
ordinal_encoder = OrdinalEncoder()

# Fit and transform the 'gender' column
df_cat_gender_encoded = ordinal_encoder.fit_transform(df_cat_gender)

# Convert it to a DataFrame
df_cat_gender_encoded = pd.DataFrame(df_cat_gender_encoded, columns=["gender_encoded"])

# Fit and transform the 'diabetic' column
df_cat_diabetic_encoded = ordinal_encoder.fit_transform(df_cat_diabetic)

# Convert it to a DataFrame
df_cat_diabetic_encoded = pd.DataFrame(df_cat_diabetic_encoded, columns=["diabetic_encoded"])

# Now add these back to the original DataFrame
df["gender"] = df_cat_gender_encoded["gender_encoded"]
df["diabetic"] = df_cat_diabetic_encoded["diabetic_encoded"]

In [112]:
df.head()

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic
0,42.0,0.0,66.0,110.0,73.0,5.88,1.65,70.2,25.75,0.0,0.0,0.0,0.0,0.0,0.0
1,35.0,0.0,60.0,125.0,68.0,5.71,1.47,42.5,19.58,0.0,0.0,0.0,0.0,0.0,0.0
2,62.0,0.0,57.0,127.0,74.0,6.85,1.52,47.0,20.24,0.0,0.0,0.0,0.0,0.0,0.0
3,73.0,1.0,55.0,193.0,112.0,6.28,1.63,57.4,21.72,0.0,0.0,0.0,0.0,0.0,0.0
4,68.0,0.0,71.0,150.0,81.0,5.71,1.42,36.0,17.79,0.0,0.0,0.0,0.0,0.0,0.0

## Custom Transformers

In [118]:
from sklearn.base import BaseEstimator, TransformerMixin

class CustomAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bmi_category=True):
        self.add_bmi_category = add_bmi_category
        
    def fit(self, X, y=None):
        # Nothing to fit in this case, just return self
        return self
    
    def transform(self, X):
        # Extract relevant columns by index
        bmi_ix = 8
        
        # Create BMI category: 0 = Underweight, 1 = Normal, 2 = Overweight, 3 = Obese
        bmi_values = X[:, bmi_ix]
        bmi_category = np.digitize(bmi_values, bins=[18.5, 24.9, 29.9, 40])  # BMI categorization
        
        # Prepare the new feature list
        new_features = []
        
        # Optionally add BMI category feature
        if self.add_bmi_category:
            new_features.append(bmi_category)
        
        # Combine the new features with the original dataset
        return np.c_[X, *new_features]

In [119]:
# Initialize the custom transformer
attr_adder = CustomAttributesAdder(add_bmi_category=True)

# Apply it to your dataset
transformed_data = attr_adder.transform(df.values)

# Convert back to DataFrame (optional)
df = pd.DataFrame(transformed_data, columns=df.columns.tolist() + ['bmi_category'])
df

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic,bmi_category
0,42.0,0.0,66.0,110.0,73.0,5.88,1.65,70.2,25.75,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,35.0,0.0,60.0,125.0,68.0,5.71,1.47,42.5,19.58,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,62.0,0.0,57.0,127.0,74.0,6.85,1.52,47.0,20.24,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,73.0,1.0,55.0,193.0,112.0,6.28,1.63,57.4,21.72,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,68.0,0.0,71.0,150.0,81.0,5.71,1.42,36.0,17.79,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432,74.0,1.0,83.0,164.0,89.0,6.47,1.60,64.0,24.99,0.0,1.0,0.0,1.0,0.0,0.0,2.0
5433,75.0,1.0,67.0,141.0,104.0,8.31,1.65,62.0,22.75,0.0,0.0,0.0,0.0,0.0,1.0,1.0
5434,40.0,0.0,67.0,134.0,114.0,7.61,1.50,69.0,30.72,0.0,1.0,0.0,0.0,1.0,0.0,3.0
5435,36.0,0.0,62.0,139.0,80.0,4.90,1.52,41.5,17.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5436,26.0,0.0,80.0,134.0,93.0,5.15,1.47,67.1,30.92,0.0,0.0,0.0,0.0,0.0,0.0,3.0

## Feature Scaling

In [123]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select numerical columns to scale
columns_to_scale = df.select_dtypes(include=['float64']).columns

# Fit the scaler to the training data and transform it
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [126]:
# Check the min and max values for each column after scaling
df_scaled_min_max = df[columns_to_scale].agg(['min', 'max'])

df_scaled_min_max

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic,bmi_category
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5437 entries, 0 to 5436
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     5437 non-null   float64
 1   gender                  5437 non-null   float64
 2   pulse_rate              5437 non-null   float64
 3   systolic_bp             5437 non-null   float64
 4   diastolic_bp            5437 non-null   float64
 5   glucose                 5437 non-null   float64
 6   height                  5437 non-null   float64
 7   weight                  5437 non-null   float64
 8   bmi                     5437 non-null   float64
 9   family_diabetes         5437 non-null   float64
 10  hypertensive            5437 non-null   float64
 11  family_hypertension     5437 non-null   float64
 12  cardiovascular_disease  5437 non-null   float64
 13  stroke                  5437 non-null   float64
 14  diabetic                5437 non-null   float64
 15  bmi_category            5437 non-null   float64
dtypes: float64(16)
memory usage: 679.8 KB

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
import pandas as pd

# Assuming your DataFrame is named df, let's first get the list of numerical columns
num_attribs = df.columns.tolist()  # List all columns as they are all numerical

# Pipeline for numerical attributes
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),  # Handle missing values
    ('attribs_adder', CombinedAttributesAdder()),  # Add extra attributes (if any)
    ('std_scaler', StandardScaler())  # Standardize the features
])

# Applying transformations to the data using ColumnTransformer
full_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_attribs)  # Apply num_pipeline to numerical columns
])

# Example of applying the pipeline to your data
X = df.drop('diabetic', axis=1)  # Features (remove target variable 'diabetic')
y = df['diabetic']  # Target variable

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Transform the training data
X_train_prepared = full_pipeline.fit_transform(X_train)

# You can use X_train_prepared in a machine learning model (e.g., a classifier)